@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

 font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.btn{ 
  @apply inline-block px-4 py-2 font-semibold text-white bg-blue-600 rounded cursor-pointer text-center
  transition duration-200 ease-in-out 

}

img{
  max-width: 15%;
  height: auto;
}

/*
.btn{
  display: inline-block;
  padding  0.5rem; 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-decorration: none; 
  white-space: nowrap;
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;
}
  */
